[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"
vcrpy = "*"
pytest-cov = "*"
pysbr = {editable = true, path = "."}
tzlocal = "*"
pytest-lazy-fixture = "*"
pandasgui = "*"

[packages]
gql = "*"
pytz = "*"
pyyaml = "*"
pandas = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
