interactions:
- request:
    body: '{"query": "{\n  eventsByDateNew(lid: [16], startDate: 1567666800000, hoursRange:
      24) {\n    events {\n      lid\n      seid\n      eid\n      des\n      cit\n      cou\n      es\n      dt\n      st\n      participants
      {\n        partid\n        ih\n        source {\n          ... on Team {\n            nam\n            nn\n            sn\n            abbr\n            cit\n          }\n          ...
      on Player {\n            fn\n            lnam\n          }\n          ... on
      ParticipantGroup {\n            partgid\n            nam\n            participants
      {\n              partid\n              ih\n              source {\n                ...
      on Player {\n                  fn\n                  lnam\n                }\n                ...
      on Team {\n                  nam\n                  nn\n                  sn\n                  abbr\n                  cit\n                }\n              }\n            }\n          }\n        }\n      }\n      eventGroup
      {\n        egid\n        nam\n        alias\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"eventsByDateNew":{"events":[{"lid":16,"seid":5703,"eid":3778574,"des":"Green
        Bay Packers@Chicago Bears","cit":"Chicago","cou":"USA","es":"complete","dt":1567729200000,"st":"outdoor","participants":[{"partid":1540,"ih":true,"source":{"nam":"Chicago","nn":"Bears","sn":"Chicago","abbr":"CHI","cit":"Chicago"}},{"partid":1542,"ih":false,"source":{"nam":"Green
        Bay","nn":"Packers","sn":"Green Bay","abbr":"GB","cit":"Green Bay"}}],"eventGroup":{"egid":10,"nam":"REG
        Week 1","alias":"Week 1"}}]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - e48a997f8c066680a36eca20b524429c
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
