interactions:
- request:
    body: '{"query": "{\n  multipleSearch(query: [\"premier league\"], did: 0) {\n    searchLeague
      {\n      lid\n      nam\n      rid\n      spid\n      sn\n      region {\n        nam\n        sn\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"multipleSearch":{"searchLeague":[{"lid":2,"nam":"Premier
        League","rid":2,"spid":2,"sn":"PREM","region":{"nam":"England","sn":"ENG"}},{"lid":1810,"nam":"Indian
        Premier League","rid":72,"spid":21,"sn":"","region":{"nam":"India","sn":"IN"}},{"lid":1820,"nam":"Caribbean
        Premier League","rid":128,"spid":21,"sn":"","region":{"nam":"West Indies","sn":"wi"}},{"lid":2111,"nam":"Afghanistan
        Premier League","rid":134,"spid":21,"sn":"","region":{"nam":"Afghanistan","sn":"af"}},{"lid":158,"nam":"Premier
        League","rid":48,"spid":2,"sn":"WLS1","region":{"nam":"Wales","sn":"WLS"}}]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - d629ecea0c29d7f888e15daec363aec6
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
