interactions:
- request:
    body: '{"query": "{\n  team(tmid: 423) {\n    tmid\n    lid\n    nam\n    nn\n    sn\n    abbr\n    cit\n    sta\n    cou\n    conid\n    divid\n    divname\n    conname\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"team":{"tmid":423,"lid":6,"nam":"Fresno State","nn":"Bulldogs","sn":"Fresno
        State","abbr":"FRE","cit":"","sta":"","cou":"USA","conid":420,"divid":182,"divname":"I-A","conname":"Mountain
        West"}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - 83db60ef2a44a95448a8babc609ad1ab
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
