interactions:
- request:
    body: '{"query": "{\n  eventsV2(eid: [4143400, 4143532]) {\n    events {\n      lid\n      des\n      cit\n      cou\n      es\n      dt\n      eid\n      st\n      participants
      {\n        partid\n        ih\n        source {\n          ... on Team {\n            nam\n            nn\n            sn\n            abbr\n            cit\n          }\n          ...
      on Player {\n            fn\n            lnam\n          }\n          ... on
      ParticipantGroup {\n            partgid\n            nam\n            participants
      {\n              partid\n              ih\n              source {\n                ...
      on Player {\n                  fn\n                  lnam\n                }\n                ...
      on Team {\n                  nam\n                  nn\n                  sn\n                  abbr\n                  cit\n                }\n              }\n            }\n          }\n        }\n      }\n      eventGroup
      {\n        egid\n        nam\n        alias\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"eventsV2":{"events":[{"lid":16,"des":"Indianapolis Colts@Tennessee
        Titans","cit":"Nashville","cou":"USA","es":"scheduled","dt":1605230400000,"eid":4143400,"st":"outdoor","participants":[{"partid":1527,"ih":false,"source":{"nam":"Indianapolis","nn":"Colts","sn":"Indianapolis","abbr":"IND","cit":"Indianapolis"}},{"partid":1528,"ih":true,"source":{"nam":"Tennessee","nn":"Titans","sn":"Tennessee","abbr":"TEN","cit":"Tennessee"}}],"eventGroup":{"egid":19,"nam":"REG
        Week 10","alias":"Week 10"}},{"lid":16,"des":"Houston Texans@Cleveland Browns","cit":"Cleveland","cou":"USA","es":"scheduled","dt":1605463200000,"eid":4143532,"st":"outdoor","participants":[{"partid":1520,"ih":true,"source":{"nam":"Cleveland","nn":"Browns","sn":"Cleveland","abbr":"CLE","cit":"Cleveland"}},{"partid":1530,"ih":false,"source":{"nam":"Houston","nn":"Texans","sn":"Houston","abbr":"HOU","cit":"Houston"}}],"eventGroup":{"egid":19,"nam":"REG
        Week 10","alias":"Week 10"}}]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - e48efa6c982a1668700ef4c0767b365b
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
