interactions:
- request:
    body: '{"query": "{\n  searchEvent(query: [\"Rockets\"]) {\n    des\n    date\n    league\n    sport\n    spid\n    eid\n    searchParticipants
      {\n      nam\n      lnam\n      fn\n      nn\n      sn\n      abbr\n    }\n    eventParticipants\n    lid\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"searchEvent":[{"des":"Toledo@Western Michigan","date":"2020-11-12T01:00:00.000Z","league":"NCAAF","sport":"football","spid":"4","eid":4260018,"searchParticipants":[{"nam":"Toledo","lnam":"","fn":"","nn":"Rockets","sn":"Toledo","abbr":"TOL"},{"nam":"Western
        Michigan","lnam":"","fn":"","nn":"Broncos","sn":"Western Michigan","abbr":"WMC"}],"eventParticipants":"[{\"eid\":4260018,\"partid\":1209,\"psid\":1209,\"ih\":false,\"rot\":119,\"source\":{\"tmid\":1209,\"lid\":6,\"nam\":\"Toledo\",\"nn\":\"Rockets\",\"sn\":\"Toledo\",\"abbr\":\"TOL\"},\"nam\":\"Toledo\"},{\"eid\":4260018,\"partid\":1213,\"psid\":1213,\"ih\":true,\"rot\":120,\"source\":{\"tmid\":1213,\"lid\":6,\"nam\":\"Western
        Michigan\",\"nn\":\"Broncos\",\"sn\":\"Western Michigan\",\"abbr\":\"WMC\"},\"nam\":\"Western
        Michigan\"}]","lid":6}]}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - ed1dc2fca2b8c1e196ea84c6e118dd36
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
