interactions:
- request:
    body: '{"query": "{\n  eventsV2(eid: [4143486, 4143483]) {\n    events {\n      lid\n      des\n      cit\n      cou\n      es\n      dt\n      eid\n      st\n      participants
      {\n        partid\n        ih\n        source {\n          ... on Team {\n            nam\n            nn\n            sn\n            abbr\n            cit\n          }\n          ...
      on Player {\n            fn\n            lnam\n          }\n          ... on
      ParticipantGroup {\n            partgid\n            nam\n            participants
      {\n              partid\n              ih\n              source {\n                ...
      on Player {\n                  fn\n                  lnam\n                }\n                ...
      on Team {\n                  nam\n                  nn\n                  sn\n                  abbr\n                  cit\n                }\n              }\n            }\n          }\n        }\n      }\n      eventGroup
      {\n        egid\n        nam\n        alias\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"eventsV2":{"events":[{"lid":16,"des":"Baltimore Ravens@Washington
        Football Team","cit":"Landover","cou":"USA","es":"complete","dt":1601830800000,"eid":4143483,"st":"outdoor","participants":[{"partid":1521,"ih":false,"source":{"nam":"Baltimore","nn":"Ravens","sn":"Baltimore","abbr":"BAL","cit":"Baltimore"}},{"partid":1537,"ih":true,"source":{"nam":"Washington","nn":"Football
        Team","sn":"Washington","abbr":"WAS","cit":"Washington"}}],"eventGroup":{"egid":13,"nam":"REG
        Week 4","alias":"Week 4"}},{"lid":16,"des":"Arizona Cardinals@Carolina Panthers","cit":"Charlotte","cou":"USA","es":"complete","dt":1601830800000,"eid":4143486,"st":"outdoor","participants":[{"partid":1545,"ih":true,"source":{"nam":"Carolina","nn":"Panthers","sn":"Carolina","abbr":"CAR","cit":"Carolina"}},{"partid":1549,"ih":false,"source":{"nam":"Arizona","nn":"Cardinals","sn":"Arizona","abbr":"ARI","cit":"Arizona"}}],"eventGroup":{"egid":13,"nam":"REG
        Week 4","alias":"Week 4"}}]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - b07a534e4c93a3e6710abe53455bc36d
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
