interactions:
- request:
    body: '{"query": "{\n  eventMarkets(eid: 4143396) {\n    mtids\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"eventMarkets":{"mtids":[83,87,91,93,97,101,105,159,168,216,397,398,399,400,401,402,403,404,405,406,407,408,409,410,557,558,665]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - 2c74c5d5577672ca5c6e2dc9860f6ca1
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
