interactions:
- request:
    body: '{"query": "{\n  eventsV2(eid: [4143532, 4143396]) {\n    events {\n      lid\n      seid\n      eid\n      des\n      cit\n      cou\n      es\n      dt\n      st\n      participants
      {\n        partid\n        ih\n        source {\n          ... on Team {\n            nam\n            nn\n            sn\n            abbr\n            cit\n          }\n          ...
      on Player {\n            fn\n            lnam\n          }\n          ... on
      ParticipantGroup {\n            partgid\n            nam\n            participants
      {\n              partid\n              ih\n              source {\n                ...
      on Player {\n                  fn\n                  lnam\n                }\n                ...
      on Team {\n                  nam\n                  nn\n                  sn\n                  abbr\n                  cit\n                }\n              }\n            }\n          }\n        }\n      }\n      eventGroup
      {\n        egid\n        nam\n        alias\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"eventsV2":{"events":[{"lid":16,"seid":8582,"eid":4143396,"des":"Jacksonville
        Jaguars@Green Bay Packers","cit":"Green Bay","cou":"USA","es":"scheduled","dt":1605463200000,"st":"outdoor","participants":[{"partid":1529,"ih":false,"source":{"nam":"Jacksonville","nn":"Jaguars","sn":"Jacksonville","abbr":"JAC","cit":"Jacksonville"}},{"partid":1542,"ih":true,"source":{"nam":"Green
        Bay","nn":"Packers","sn":"Green Bay","abbr":"GB","cit":"Green Bay"}}],"eventGroup":{"egid":19,"nam":"REG
        Week 10","alias":"Week 10"}},{"lid":16,"seid":8582,"eid":4143532,"des":"Houston
        Texans@Cleveland Browns","cit":"Cleveland","cou":"USA","es":"scheduled","dt":1605463200000,"st":"outdoor","participants":[{"partid":1520,"ih":true,"source":{"nam":"Cleveland","nn":"Browns","sn":"Cleveland","abbr":"CLE","cit":"Cleveland"}},{"partid":1530,"ih":false,"source":{"nam":"Houston","nn":"Texans","sn":"Houston","abbr":"HOU","cit":"Houston"}}],"eventGroup":{"egid":19,"nam":"REG
        Week 10","alias":"Week 10"}}]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - ecdd7917304c12400468154bc3d98d09
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
