interactions:
- request:
    body: '{"query": "{\n  lastMatchupsByParticipants(participantId1: 5562, participantId2:
      5628, limit: 10) {\n    events {\n      lid\n      seid\n      eid\n      des\n      cit\n      cou\n      es\n      dt\n      st\n      participants
      {\n        partid\n        ih\n        source {\n          ... on Team {\n            nam\n            nn\n            sn\n            abbr\n            cit\n          }\n          ...
      on Player {\n            fn\n            lnam\n          }\n          ... on
      ParticipantGroup {\n            partgid\n            nam\n            participants
      {\n              partid\n              ih\n              source {\n                ...
      on Player {\n                  fn\n                  lnam\n                }\n                ...
      on Team {\n                  nam\n                  nn\n                  sn\n                  abbr\n                  cit\n                }\n              }\n            }\n          }\n        }\n      }\n      eventGroup
      {\n        egid\n        nam\n        alias\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"lastMatchupsByParticipants":{"events":[{"lid":23,"seid":5562,"eid":4279492,"des":"Mannarino,
        Adrian@Klizan, Martin","cit":"","cou":"","es":"complete","dt":1604923800000,"st":"Undefined","participants":[{"partid":5562,"ih":true,"source":{"fn":"Martin","lnam":"Klizan"}},{"partid":5628,"ih":false,"source":{"fn":"Adrian","lnam":"Mannarino"}}],"eventGroup":{"egid":23908,"nam":"ATP
        Sofia, Bulgaria Men Singles","alias":null}},{"lid":23,"seid":5563,"eid":3789386,"des":"Martin
        Klizan@Adrian Mannarino","cit":"UDF","cou":"UDF","es":"complete","dt":1557066900000,"st":"Undefined","participants":[{"partid":5562,"ih":false,"source":{"fn":"Martin","lnam":"Klizan"}},{"partid":5628,"ih":true,"source":{"fn":"Adrian","lnam":"Mannarino"}}],"eventGroup":{"egid":1372,"nam":"Madrid,
        Spain, Qualifying","alias":null}}]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - 820255fa4110360e45c020e7f389f80f
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
