interactions:
- request:
    body: '{"query": "{\n  leagues(lid: [23, 6, 16]) {\n    lid\n    nam\n    spid\n    sn\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"leagues":[{"lid":6,"nam":"NCAA Football","spid":4,"sn":"NCAAF"},{"lid":16,"nam":"National
        Football League","spid":4,"sn":"NFL"},{"lid":23,"nam":"ATP","spid":8,"sn":"ATP"}]}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - a08be245f77c512263aad99fe5f9eb07
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
