interactions:
- request:
    body: '{"query": "{\n  sportsbooks(sbids: [238, 43], did: 1, sitid: 1, enabled:
      true) {\n    sbid\n    paid\n    nam\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"sportsbooks":[{"sbid":43,"paid":5,"nam":"Bet365"},{"sbid":238,"paid":20,"nam":"Pinnacle"}]}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - 918ee78a91f75f125001450bab56848f
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
