interactions:
- request:
    body: '{"query": "{\n  multipleSearch(query: [\"laliga\"], did: 0) {\n    searchLeague
      {\n      lid\n      nam\n      rid\n      spid\n      sn\n      region {\n        nam\n        sn\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"multipleSearch":{"searchLeague":[{"lid":17,"nam":"LaLiga","rid":7,"spid":2,"sn":"LALIGA","region":{"nam":"Spain","sn":"ES"}},{"lid":384,"nam":"LaLiga
        2","rid":7,"spid":2,"sn":"ESP2","region":{"nam":"Spain","sn":"ES"}}]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - a77eb62ca3074248c6ecad40eae3a6d5
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
