interactions:
- request:
    body: '{"query": "{\n  eventsByDateNew(lid: [16], startDate: 1603944000000, hoursRange:
      24) {\n    events {\n      eid\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"eventsByDateNew":{"events":[{"eid":4143517}]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - d0f2e20ed38e3d1e33f2474b422330ed
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
