interactions:
- request:
    body: '{"query": "{\n  multipleSearch(query: [\"nfl\"], did: 0) {\n    searchLeague
      {\n      lid\n      nam\n      rid\n      spid\n      sn\n      region {\n        nam\n        sn\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"multipleSearch":{"searchLeague":[{"lid":16,"nam":"National
        Football League","rid":1,"spid":4,"sn":"NFL","region":{"nam":"USA","sn":"US"}}]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - b18acd7cae40fee13f5d2180d2cc007d
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
