interactions:
- request:
    body: '{"query": "{\n  team(tmid: 1519) {\n    tmid\n    lid\n    nam\n    nn\n    sn\n    abbr\n    cit\n    sta\n    cou\n    conid\n    divid\n    divname\n    conname\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"team":{"tmid":1519,"lid":16,"nam":"Pittsburgh","nn":"Steelers","sn":"Pittsburgh","abbr":"PIT","cit":"Pittsburgh","sta":"PA","cou":"USA","conid":357,"divid":114,"divname":"AFC
        North","conname":"AFC"}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - ec6d2837fa1fbe4ddbaa5ce69a462a39
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
