interactions:
- request:
    body: '{"query": "{\n  multipleSearch(query: [\"national football league\"], did:
      0) {\n    searchLeague {\n      lid\n      nam\n      rid\n      spid\n      sn\n      region
      {\n        nam\n        sn\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"multipleSearch":{"searchLeague":[{"lid":16,"nam":"National
        Football League","rid":1,"spid":4,"sn":"NFL","region":{"nam":"USA","sn":"US"}},{"lid":1850,"nam":"National
        Football League","rid":125,"spid":2,"sn":"","region":{"nam":"Rwanda","sn":"rw"}},{"lid":327,"nam":"Football
        National League","rid":88,"spid":2,"sn":"RUS2","region":{"nam":"Russia","sn":"RU"}}]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - 5c76572413a25ebbd8d54b3f9be70848
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
