interactions:
- request:
    body: '{"query": "{\n  multipleSearch(query: [\"football\"], did: 1) {\n    searchSport
      {\n      spid\n      nam\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"multipleSearch":{"searchSport":[{"spid":2,"nam":"soccer"},{"spid":4,"nam":"football"}]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - 60569d9cb688467db175c9bcba0fa90c
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
