interactions:
- request:
    body: '{"query": "{\n  leagueMarkets(lid: [23]) {\n    lid\n    mtid\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"leagueMarkets":[{"lid":23,"mtid":2},{"lid":23,"mtid":126},{"lid":23,"mtid":133},{"lid":23,"mtid":134},{"lid":23,"mtid":138},{"lid":23,"mtid":174},{"lid":23,"mtid":204},{"lid":23,"mtid":205},{"lid":23,"mtid":279},{"lid":23,"mtid":311},{"lid":23,"mtid":395},{"lid":23,"mtid":396},{"lid":23,"mtid":434},{"lid":23,"mtid":439},{"lid":23,"mtid":440},{"lid":23,"mtid":648},{"lid":23,"mtid":649},{"lid":23,"mtid":650},{"lid":23,"mtid":651},{"lid":23,"mtid":652},{"lid":23,"mtid":653},{"lid":23,"mtid":679},{"lid":23,"mtid":719},{"lid":23,"mtid":720},{"lid":23,"mtid":721},{"lid":23,"mtid":723}]}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - f787232274ffa5b4581a6e527c783d44
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
