interactions:
- request:
    body: '{"query": "{\n  eventsByDateNew(lid: [16], startDate: 1603954800000, hoursRange:
      24) {\n    events {\n      des\n      cit\n      cou\n      es\n      dt\n      eid\n      st\n      participants
      {\n        partid\n        ih\n        source {\n          ... on Team {\n            nam\n            nn\n            sn\n            abbr\n            cit\n          }\n          ...
      on Player {\n            fn\n            lnam\n          }\n          ... on
      ParticipantGroup {\n            partgid\n            nam\n            participants
      {\n              partid\n              ih\n              source {\n                ...
      on Player {\n                  fn\n                  lnam\n                }\n                ...
      on Team {\n                  nam\n                  nn\n                  sn\n                  abbr\n                  cit\n                }\n              }\n            }\n          }\n        }\n      }\n      eventGroup
      {\n        egid\n        nam\n        alias\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"eventsByDateNew":{"events":[{"des":"Atlanta Falcons@Carolina
        Panthers","cit":"Charlotte","cou":"USA","es":"complete","dt":1604017200000,"eid":4143517,"st":"outdoor","participants":[{"partid":1545,"ih":true,"source":{"nam":"Carolina","nn":"Panthers","sn":"Carolina","abbr":"CAR","cit":"Carolina"}},{"partid":1546,"ih":false,"source":{"nam":"Atlanta","nn":"Falcons","sn":"Atlanta","abbr":"ATL","cit":"Atlanta"}}],"eventGroup":{"egid":17,"nam":"REG
        Week 8","alias":"Week 8"}}]}}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - 7f4a28db1b543b86534bf238e399774f
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
