interactions:
- request:
    body: '{"query": "{\n  marketTypesById(mtid: [126, 395, 396], spid: [8]) {\n    mtid\n    spid\n    nam\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"marketTypesById":[{"mtid":126,"spid":8,"nam":"2way"},{"mtid":395,"spid":8,"nam":"Point
        Spread"},{"mtid":396,"spid":8,"nam":"American Total"}]}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - db09ac39a146c51c8663cede1daa63dd
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
