interactions:
- request:
    body: '{"query": "{\n  marketTypesById(mtid: [91, 92], spid: [4]) {\n    mtid\n    spid\n    nam\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.sportsbookreview.com/ms-odds-v2/odds-v2-service
  response:
    body:
      string: '{"data":{"marketTypesById":[{"mtid":91,"spid":4,"nam":"1st Half - Draw
        No Bet"},{"mtid":92,"spid":4,"nam":"1st Half - Odd/Even"}]}}'
    headers:
      Content-Type:
      - application/json
      X-City-Code:
      - ''
      X-City-Name:
      - British Columbia
      X-Country-Code:
      - CA
      X-Country-Name:
      - Canada
      X-DIS-Request-ID:
      - 417896306263e9a3a2e25a6ce53a4b55
      X-Proxy-Host:
      - www.sportsbookreview.com
    status:
      code: 200
      message: OK
version: 1
